    <article class="post">
      <div class="content">
        <h3 class="title">{{title}}</h3>
        <p>{{body_content}}</p>
      </div>
      <div class="meta">
        Posted by {{user.username}} on
        {{format_date created_at}}
        |
        <a href="/post/{{id}}">{{format_plural "comment" comments.length }}</a>
      </div>
    </article>