{{!-- post --}}
<article class="post">
    <div class="post-title">
        <h3>{{post.title}}</h3>
    </div>
    <div class="post-body">
        {{post.body_content}}
    </div>
    <div class="meta">
        {{post.vote_count}} point(s) by {{post.user.username}} on
    {{post.created_at}}
    </div>
</article>

{{!-- comments --}}
{{#if loggedIn}}
<form class="comment-form">
    <div>
        <textarea name="comment-body"></textarea>
    </div>

    <div>
        <button type="submit" class="comment-btn">Add comment</button>
    </div>
</form>
{{/if}}
    {{>comments post.comments}}
{{#if loggedIn}}
<script src="/javascript/comment.js"></script>
{{/if}}